<form class="form">
  <label class="inputLbl">
    Delay (ms)
    <input type="number" name="delay" required />
  </label>

  <fieldset>
    <legend>State</legend>
    <label class="radioLbl">
      <input type="radio" name="state" value="fulfilled" required />
      Fulfilled
    </label>
    <label class="radioLbl">
      <input type="radio" name="state" value="rejected" required />
      Rejected
    </label>
  </fieldset>

  <button class="submitBtn" type="submit">Create notification</button>
</form>
